# Basic model for employee classification( wheather that employee will leave the org, or not)

Dataset analysis

In [13]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
data=pd.read_csv('D:\Deep_Learning\Pytorch_practice\Project_containing_all_pytorch_concepts\Employee.csv')

In [15]:
data.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

No null values or missing elements in the data

In [16]:
data.isnull().sum()

Education                    0
JoiningYear                  0
City                         0
PaymentTier                  0
Age                          0
Gender                       0
EverBenched                  0
ExperienceInCurrentDomain    0
LeaveOrNot                   0
dtype: int64

Categorical variables in the dataset

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4653 entries, 0 to 4652
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  4653 non-null   object
 1   JoiningYear                4653 non-null   int64
 2   City                       4653 non-null   object
 3   PaymentTier                4653 non-null   int64
 4   Age                        4653 non-null   int64
 5   Gender                     4653 non-null   object
 6   EverBenched                4653 non-null   object
 7   ExperienceInCurrentDomain  4653 non-null   int64
 8   LeaveOrNot                 4653 non-null   int64
dtypes: int64(5), object(4)
memory usage: 327.3+ KB

In [18]:
# columns with categorical data
categorical_col=data.select_dtypes(include=['object']).columns.tolist()

for i in categorical_col:
    print(f"{i} : {data[i].unique()}")

Education : ['Bachelors' 'Masters' 'PHD']
City : ['Bangalore' 'Pune' 'New Delhi']
Gender : ['Male' 'Female']
EverBenched : ['No' 'Yes']

In [19]:
# Now label encoding the categorical variables
label_encoder = LabelEncoder()
for col in categorical_col:
    data[col] = label_encoder.fit_transform(data[col])

In [20]:
#printing the data with the label encoded value and thrir respective columns  and values
for i in categorical_col:
    print(f"{i} : {data[i].unique()}")

Education : [0 1 2]
City : [0 2 1]
Gender : [1 0]
EverBenched : [0 1]

- calculate the joining year to current year difference

In [21]:
data['JoiningYear']

0       2017
1       2013
2       2014
3       2016
4       2017
        ...
4648    2013
4649    2013
4650    2018
4651    2012
4652    2015
Name: JoiningYear, Length: 4653, dtype: int64

In [22]:
import datetime
datetime.datetime.now().year

data['JoiningYear'] = datetime.datetime.now().year - data['JoiningYear']

In [23]:
features = data[data.columns[:-1]]  # All columns except the last one
target = data[data.columns[-1]]  # The last column

In [24]:
features

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain
0,0,8,0,3,34,1,0,0
1,0,12,2,1,28,0,0,3
2,0,11,1,3,38,0,0,2
3,1,9,0,3,27,1,0,5
4,1,8,2,3,24,1,1,2
...,...,...,...,...,...,...,...,...
4648,0,12,0,3,26,0,0,4
4649,1,12,2,2,37,1,0,2
4650,1,7,1,3,27,1,0,5
4651,0,13,0,3,30,1,1,2
4652,0,10,0,3,33,1,1,4

In [25]:
target

0       0
1       1
2       0
3       1
4       1
       ..
4648    0
4649    1
4650    1
4651    0
4652    0
Name: LeaveOrNot, Length: 4653, dtype: int64

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4653 entries, 0 to 4652
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  4653 non-null   int64
 1   JoiningYear                4653 non-null   int64
 2   City                       4653 non-null   int64
 3   PaymentTier                4653 non-null   int64
 4   Age                        4653 non-null   int64
 5   Gender                     4653 non-null   int64
 6   EverBenched                4653 non-null   int64
 7   ExperienceInCurrentDomain  4653 non-null   int64
 8   LeaveOrNot                 4653 non-null   int64
dtypes: int64(9)
memory usage: 327.3 KB

# Split the data into train test split

In [27]:
X_train,X_test,y_train,y_test= train_test_split(features,target,test_size=0.2,random_state=42)

In [28]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3722, 8), (931, 8), (3722,), (931,))

# Standardization on the data 
using standard scalar

In [29]:
# apply standardization on the data
scaler = StandardScaler()
X_train =scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Importing imp libraries

In [41]:
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, TensorDataset
import torch.optim as optim
# torch.tensor.randn(5, 3)

In [ ]:
# converting the data into tensors
# X_train_tensor = torch.tensor(X_train, dtype=torch.float32)
# y_train_tensor = torch.tensor(y_train.values, dtype=torch.float32)
# X_test_tensor = torch.tensor(X_test, dtype=torch.float32)
# y_test_tensor = torch.tensor(y_test.values, dtype=torch.float32)

In [ ]:
# print(X_train_tensor, y_train_tensor)

tensor([[ 1.4086,  1.1097,  0.2522,  ...,  0.8157, -0.3337, -1.8615],
        [-0.5104,  1.6457, -0.9420,  ...,  0.8157, -0.3337,  0.0613],
        [ 1.4086, -1.0340,  1.4464,  ...,  0.8157, -0.3337, -0.5796],
        ...,
        [-0.5104, -0.4981, -0.9420,  ..., -1.2260, -0.3337, -1.2206],
        [-0.5104,  0.0379, -0.9420,  ...,  0.8157, -0.3337, -1.2206],
        [-0.5104,  0.0379, -0.9420,  ...,  0.8157, -0.3337,  1.3432]]) tensor([1., 0., 0.,  ..., 0., 0., 1.])

# Dataset and dataloader function for dataset preparation for training

In [34]:
class  dataset():
    def __init__(self, features,target):
        self.features = torch.tensor(features, dtype=torch.float32)
        self.target = torch.tensor(target.values, dtype=torch.float32)
    def __len__(self):
        return len(self.features)
    def __getitem__(self, idx):
        return self.features[idx], self.target[idx]

In [35]:
train_dataset = dataset(X_train, y_train)
test_dataset = dataset(X_test, y_test)

In [39]:
len(train_dataset)

3722

In [37]:
train_dataset[0]

(tensor([ 1.4086,  1.1097,  0.2522,  0.5394,  0.1175,  0.8157, -0.3337, -1.8615]),
 tensor(1.))

In [40]:
# dataloaders for the datasets
train_dataLoader=DataLoader(train_dataset, batch_size=32, shuffle=True)
test_dataLoader=DataLoader(test_dataset, batch_size=32, shuffle=False)

# Pytorch model building

In [55]:
class mymodel(nn.Module):
    def __init__(self ,input_size):
        super().__init__()
        self.model=nn.Sequential(
            nn.Linear(input_size, 128),
            nn.ReLU(),
            nn.Linear(128, 32),
            nn.ReLU(),
            nn.Linear(32, 1)
        )
    def forward(self, x):
        return self.model(x)

# Hyperparamters

In [56]:
epochs = 100
learning_rate=0.01

In [57]:
len(train_dataLoader)

117

In [60]:
Model=mymodel(input_size=X_train.shape[1])

# loss function and optimizer
criterion = nn.MSELoss()
optimizer = optim.SGD(Model.parameters(), lr=learning_rate)

In [61]:
# training loop 

losses = []

for epoch in range(epochs):
    total_loss = 0
    for batch_features, batch_target in train_dataLoader:
        output= Model(batch_features)
        loss = criterion(output, batch_target)

        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        total_loss += loss.item()
    avg_loss = total_loss / len(train_dataLoader)
    losses.append(avg_loss) 
    print(f"Epoch {epoch+1}/{epochs}, Loss: {avg_loss:.4f}")

d:\Deep_Learning\DL\Lib\site-packages\torch\nn\modules\loss.py:610: UserWarning: Using a target size (torch.Size([32])) that is different to the input size (torch.Size([32, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)
d:\Deep_Learning\DL\Lib\site-packages\torch\nn\modules\loss.py:610: UserWarning: Using a target size (torch.Size([10])) that is different to the input size (torch.Size([10, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

Epoch 1/100, Loss: 0.2346
Epoch 2/100, Loss: 0.2282
Epoch 3/100, Loss: 0.2274
Epoch 4/100, Loss: 0.2272
Epoch 5/100, Loss: 0.2269
Epoch 6/100, Loss: 0.2271
Epoch 7/100, Loss: 0.2266
Epoch 8/100, Loss: 0.2265
Epoch 9/100, Loss: 0.2261
Epoch 10/100, Loss: 0.2268
Epoch 11/100, Loss: 0.2268
Epoch 12/100, Loss: 0.2262
Epoch 13/100, Loss: 0.2267
Epoch 14/100, Loss: 0.2263
Epoch 15/100, Loss: 0.2265
Epoch 16/100, Loss: 0.2262
Epoch 17/100, Loss: 0.2262
Epoch 18/100, Loss: 0.2261
Epoch 19/100, Loss: 0.2258
Epoch 20/100, Loss: 0.2263
Epoch 21/100, Loss: 0.2258
Epoch 22/100, Loss: 0.2255
Epoch 23/100, Loss: 0.2261
Epoch 24/100, Loss: 0.2264
Epoch 25/100, Loss: 0.2263
Epoch 26/100, Loss: 0.2254
Epoch 27/100, Loss: 0.2262
Epoch 28/100, Loss: 0.2260
Epoch 29/100, Loss: 0.2260
Epoch 30/100, Loss: 0.2257
Epoch 31/100, Loss: 0.2261
Epoch 32/100, Loss: 0.2256
Epoch 33/100, Loss: 0.2259
Epoch 34/100, Loss: 0.2258
Epoch 35/100, Loss: 0.2262
Epoch 36/100, Loss: 0.2261
Epoch 37/100, Loss: 0.2259
Epoch 38/100, Loss: 0.2257
Epoch 39/100, Loss: 0.2261
Epoch 40/100, Loss: 0.2262
Epoch 41/100, Loss: 0.2253
Epoch 42/100, Loss: 0.2262
Epoch 43/100, Loss: 0.2258
Epoch 44/100, Loss: 0.2256
Epoch 45/100, Loss: 0.2255
Epoch 46/100, Loss: 0.2256
Epoch 47/100, Loss: 0.2260
Epoch 48/100, Loss: 0.2257
Epoch 49/100, Loss: 0.2260
Epoch 50/100, Loss: 0.2257
Epoch 51/100, Loss: 0.2261
Epoch 52/100, Loss: 0.2255
Epoch 53/100, Loss: 0.2260
Epoch 54/100, Loss: 0.2258
Epoch 55/100, Loss: 0.2262
Epoch 56/100, Loss: 0.2262
Epoch 57/100, Loss: 0.2257
Epoch 58/100, Loss: 0.2254
Epoch 59/100, Loss: 0.2259
Epoch 60/100, Loss: 0.2260
Epoch 61/100, Loss: 0.2258
Epoch 62/100, Loss: 0.2258
Epoch 63/100, Loss: 0.2265
Epoch 64/100, Loss: 0.2261
Epoch 65/100, Loss: 0.2259
Epoch 66/100, Loss: 0.2259
Epoch 67/100, Loss: 0.2260
Epoch 68/100, Loss: 0.2261
Epoch 69/100, Loss: 0.2255
Epoch 70/100, Loss: 0.2263
Epoch 71/100, Loss: 0.2258
Epoch 72/100, Loss: 0.2255
Epoch 73/100, Loss: 0.2259
Epoch 74/100, Loss: 0.2259
Epoch 75/100, Loss: 0.2255
Epoch 76/100, Loss: 0.2261
Epoch 77/100, Loss: 0.2264
Epoch 78/100, Loss: 0.2263
Epoch 79/100, Loss: 0.2263
Epoch 80/100, Loss: 0.2262
Epoch 81/100, Loss: 0.2261
Epoch 82/100, Loss: 0.2257
Epoch 83/100, Loss: 0.2259
Epoch 84/100, Loss: 0.2258
Epoch 85/100, Loss: 0.2263
Epoch 86/100, Loss: 0.2252
Epoch 87/100, Loss: 0.2259
Epoch 88/100, Loss: 0.2260
Epoch 89/100, Loss: 0.2263
Epoch 90/100, Loss: 0.2262
Epoch 91/100, Loss: 0.2258
Epoch 92/100, Loss: 0.2258
Epoch 93/100, Loss: 0.2256
Epoch 94/100, Loss: 0.2256
Epoch 95/100, Loss: 0.2260
Epoch 96/100, Loss: 0.2259
Epoch 97/100, Loss: 0.2259
Epoch 98/100, Loss: 0.2257
Epoch 99/100, Loss: 0.2251
Epoch 100/100, Loss: 0.2258

In [62]:
X_train.shape[1]

8

In [63]:
# structure of the model
from torchinfo import summary
summary(Model, input_size=(8, X_train.shape[1]))

==========================================================================================
Layer (type:depth-idx)                   Output Shape              Param #
==========================================================================================
mymodel                                  [8, 1]                    --
├─Sequential: 1-1                        [8, 1]                    --
│    └─Linear: 2-1                       [8, 128]                  1,152
│    └─ReLU: 2-2                         [8, 128]                  --
│    └─Linear: 2-3                       [8, 32]                   4,128
│    └─ReLU: 2-4                         [8, 32]                   --
│    └─Linear: 2-5                       [8, 1]                    33
==========================================================================================
Total params: 5,313
Trainable params: 5,313
Non-trainable params: 0
Total mult-adds (Units.MEGABYTES): 0.04
==========================================================================================
Input size (MB): 0.00
Forward/backward pass size (MB): 0.01
Params size (MB): 0.02
Estimated Total Size (MB): 0.03
==========================================================================================

In [64]:
# model evaluation
Model.eval()

mymodel(
  (model): Sequential(
    (0): Linear(in_features=8, out_features=128, bias=True)
    (1): ReLU()
    (2): Linear(in_features=128, out_features=32, bias=True)
    (3): ReLU()
    (4): Linear(in_features=32, out_features=1, bias=True)
  )
)

In [65]:
# model testing
with torch.no_grad():
    test_loss = 0
    for batch_features, batch_target in test_dataLoader:
        output = Model(batch_features)
        loss = criterion(output, batch_target)
        test_loss += loss.item()
    avg_test_loss = test_loss / len(test_dataLoader)
    print(f"Test Loss: {avg_test_loss:.4f}")

Test Loss: 0.2258

d:\Deep_Learning\DL\Lib\site-packages\torch\nn\modules\loss.py:610: UserWarning: Using a target size (torch.Size([3])) that is different to the input size (torch.Size([3, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

In [66]:
# evaluation code
total = 0
correct = 0

with torch.no_grad():

  for batch_features, batch_labels in test_dataLoader:

    outputs = Model(batch_features)

    _, predicted = torch.max(outputs, 1)

    total = total + batch_labels.shape[0]

    correct = correct + (predicted == batch_labels).sum().item()

print(f"Accuracy of the Model is - {correct/total*100:.2f} % ")

Accuracy of the Model is - 65.52 %